.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-gap: 8px;     
}
.dialogsItem {    
    padding: 10px;    
    background-color: rgb(123, 226, 226);  
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);      
}
.dialogsItem img {    
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
.dialogsItem .active {
    color: rgb(214, 42, 191);      
}
.dialog a {
    
    text-decoration: none;
    color: rgb(158, 124, 124);
    line-height: 40px;        
}
.messages  {
    padding: 10px;    
    background-color: rgb(8, 184, 184); 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);   
}
.message {
    padding: 10px;
}
